.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

/* top level */
.navbar-nav > .dropdown:hover > .position-relative > .dropdown-menu {
    top: 0;
    right: 0;
}

/* sub levels */
.navbar-nav .position-relative .position-relative .dropdown-menu {
    top: 10px;
    right: 50%;
    margin-top: -1px;
}

.navbar-nav > .dropdown > .position-relative > .dropdown-menu,
.navbar-nav .position-relative .dropdown > .position-relative > .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.navbar-nav > .dropdown:hover > .position-relative > .dropdown-menu,
.navbar-nav .position-relative .dropdown:hover > .position-relative > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transition: .5s;
}